POSTGRES_DB=mystic_japan
POSTGRES_USER=mystic_japan
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_API_ORIGIN_URL=

APP_KEY=base64:3nVOZ/HG2RFnnl86kCAnW64mJ70Cc9JL849r+c94G1Y=
RUN_DATABASE_SEEDER=true

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
